@media screen and (max-width: 425px){.tbltitle {font-size: 11px;}}

@media screen and (max-width: 425px){.shcomp {font-size: 13px;}}

@media screen and (max-width: 425px){.tble {font-size: 11px;}}

@media screen and (min-width: 768px){.brk {display: none;}}

/*compare table */
@media screen and (max-width: 460px) {.cmp{width:200%;max-width:200%}}



/* model - rating zone padding */
@media screen and (min-width: 1440px) and (max-width: 1800px){.ptop{padding-top:20px!important}}
@media screen and (min-width: 1801px) and (max-width: 2200px){.ptop{padding-top:30px!important}}
@media screen and (min-width: 2201px){.ptop{padding-top:55px!important}}

/*searchresult for parent div */
.searchresult {                    
border-top: 5px solid #DDD;
padding-left:7px;
padding-right:7px;
}
.searchresult:hover{
background-color:#f6f6f6;}

@media screen and (max-width: 360px) {.searchresult{height:495px!important;padding-left:0px!important;padding-right:0px!important}}
@media screen and (min-width: 360px) and (max-width: 500px){.searchresult{height:470px!important;padding-left:2px!important;padding-right:2px!important}}
@media screen and (min-width: 500px) and (max-width: 767px){.searchresult{height:420px!important;}}
@media screen and (min-width: 768px) and (max-width: 991px){.searchresult{height:415px!important;}}
@media screen and (min-width: 991px) and (max-width: 1220px){.searchresult{height:480px!important}}
@media screen and (min-width: 1221px) and (max-width: 1300px){.searchresult{height:460px!important}}
@media screen and (min-width: 1301px) and (max-width: 1400px){.searchresult{height:540px!important}}
@media screen and (min-width: 1400px){.searchresult{height:530px!important}}

/* specifications div */
.searchresultdesc{
border-top:2px solid #404040;
padding-left:7px;
padding-right:7px;}

@media screen and (max-width: 360px){.searchresultdesc{height:210px!important;font-size:10.5px;padding-left:0px!important;padding-right:0px!important}}
@media screen and (min-width: 360px) and (max-width: 500px){.searchresultdesc{height:192px!important;font-size:10.5px}}
@media screen and (min-width: 500px) and (max-width: 767px){.searchresultdesc{height:160px!important;font-size:10.5px;padding-left:20%!important}}
@media screen and (min-width: 768px) and (max-width: 991px){.searchresultdesc{height:145px!important;font-size:10.5px;padding-left:15%!important}}
@media screen and (min-width: 992px) and (max-width: 1100px){.searchresultdesc{height:215px!important;font-size:10.5px;padding-left:15%!important}}
@media screen and (min-width: 1100px) and (max-width: 1220px){.searchresultdesc{height:210px!important;font-size:10.5px;padding-left:15%!important}}
@media screen and (min-width: 1221px) and (max-width: 1300px){.searchresultdesc{height:180px!important;font-size:10.5px;padding-left:15%!important}}
@media screen and (min-width: 1300px) and (max-width: 1400px){.searchresultdesc{height:180px!important;font-size:10.5px;padding-left:20%!important}}
@media screen and (min-width: 1401px) and (max-width: 1500px){.searchresultdesc{height:180px!important;font-size:13.2px;padding-left:15%!important}}
@media screen and (min-width: 1500px){.searchresultdesc{height:180px!important;font-size:13.8px;padding-left:25%!important}}

.searchresult3{
	color: #000;
    text-decoration: none;    
    width: auto;     
    align-items: center;
	margin:0 auto;
}

/* searchresultJPG for pictures div */

.searchresultJPG{ 
	text-align:center;
    width: 100%;
    vertical-align: middle;
	
	margin:0 auto;
	width:initial}
	
@media screen and (max-width: 991px){.searchresultJPG{height:120px!important}}
@media screen and (min-width: 992px) and (max-width: 1100px){.searchresultJPG{height:100px!important}}
@media screen and (min-width: 1100px) and (max-width: 1300px){.searchresultJPG{height:120px!important}}
@media screen and (min-width: 1300px){.searchresultJPG{height:150px!important}}

/* searchresultitle for the name div*/
.searchresultitlu{

margin-top:-15px; }

@media screen and (max-width: 991px){.searchresultitlu{height:45px!important;font-size:11.5px}}
@media screen and (min-width: 991px) and (max-width: 1100px){.searchresultitlu{height:45px!important;font-size:13px}}
@media screen and (min-width: 1100px) and (max-width: 1300px){.searchresultitlu{height:60px!important}}
@media screen and (min-width: 1300px){.searchresultitlu{height:60px!important}}

.resulspace{text-aling:center}
@media screen and (max-width: 1300px){.resulspace{padding-top:1.5px!important;padding-bottom:1.5px!important}}
@media screen and (min-width: 1300px) and (max-width: 1700px){.resulspace{padding-top:0.5px!important;padding-bottom:0.5px!important}}
@media screen and (min-width: 1700px) {.resulspace{padding-top:2px!important;padding-bottom:2px!important}}